html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none
}

/* 
font-family: "IBM Plex Mono", monospace;
font-family: "Indie Flower", cursive;
*/

body {
  font-family: "IBM Plex Mono", monospace;
}

.container {
  margin: 30px 100px;
}

.home{
  color: rgba(236, 107, 47, 0.61)
}

.logo-container{
 position:relative;
}


div .logo{
  width: 100%;
  padding: 0 0px;
  font-family: "Indie Flower", cursive;
  color:rgb(218, 115, 115);
  font-size: 60px;
  font-weight: bold;
  
  }

.main-menu {
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
}

.main-menu a {
  text-decoration: none;
  color:#605959;
}

.main-menu li a.home {
  color:rgb(218, 115, 115);
}

.main-menu li a:hover {
  color: rgb(218, 115, 115);
}







/*mirar
.main-menu .platos {
  display: inline-block;  
  position: relative;
}
main-menu .platos .submenu {
  display: none;
  position: absolute;
  padding: 5px 20px;
  background-color: #F5F5F5 ;
  
.main-menu .platos .submenu li{
  color: #605959;
}

.platos:hover .submenu {
  display: block;

}hasta acá*/


.main-menu  > li {
  position: relative;
  display: inline-block;
}

.submenu {
  padding: 5px 20px;
  position: absolute;
  background-color: #f5f5f5;
  display: none;
}

.submenu li a {
  display: block;
  color: #605959;
}

.main-menu li:hover .submenu {
  display: block;
  color: #605959;
}


.image-recipes {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  
  
}

.recipes {
  position: relative;
  overflow: hidden;
}

.image-recipes img {
 width: 350px;
 height: 550px;
}

.recipes .recipe-description {
  position: absolute;
  bottom: 0;
  padding: 0;
  background-color: rgba(236, 107, 47, 0.61);
  color: white;
  transform: translateY(100%);
  transition: all 0.8s ease-out;
}

.recipes .recipe-description .paragraph1 {
  font-size: 12px;

}

.recipes:hover .recipe-description {
  transform: translateY(0%);
}

.menu-2{
  display: flex;
  justify-content: space-between;
  position: relative;
  
}

.img-content {
  position: relative;
  overflow: hidden;
}

.menu-2 img {
  width: 400px;
  height: 250px;
  border-radius: 15%;
  
}


.recipe-preparation span {
    height: 30px;
    width: 150px;
    padding: 5px 52px;
    bottom: 120px;
    border: 1px solid #FAC3D7;
    border-radius: 10px;
    text-align: center;
    left: 110px;
    background-color: #FAC3D7;
    color: #605959

}
.menu-2 h3 {
  height: 30px;
    width: 150px;
    padding: 6px 0;
    bottom: 120px;
    position: absolute;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;  
    left: 110px;
    background-color: white;
}

.menu-2 h3:hover {
  border: 1px solid rgb(218, 115, 115);
  background-color: rgb(218, 115, 115);
}

.video-aboutme {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
}

.video-aboutme .video {
  font-size: 9px;
}

.video-aboutme .about-me {
 padding: 0 40px; 
}

.video-aboutme .about-me h4 {
  padding: 4px;
  border: 1px #FAC3D7;  
  background-color: #FAC3D7;
  height: 30px;
  text-align: center;
  font-weight: bold;
}

.video-aboutme .about-me img {
  margin: 20px 80px;
  border-radius: 100px;
}

.video-aboutme .about-me h3 {
  font-size: 20px;
  text-align: center;
}

.video-aboutme .about-me p {
  padding: 20px 0 100px 0;
}

.video-aboutme .about-me a {
  text-decoration: none;
  color: black;
}

/* article */


.article-container1{
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
  padding:50px;
  border-bottom: 1px solid rgb(156, 147, 147);
  border-top: 1px solid rgb(156, 147, 147);
}
.article-container2{
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
  padding:50px;
}

.recipe-article{
  padding:20px 100px;
}

.recipe-photo1 {
  
  width: 350px;
  float: left;
}
.recipe-photo1 img {
  border-radius: 30px;
  width: 350px;
  
}

.recipe-header > .recipe-preparation p {
  margin: 10px -10px 20px;
  color: #605959;

}

.btn-readmore{
  margin: 20px;
}


/*RECETA*/

.recipe-container {
  margin: 100px 300px;
}

.banner {
  width: 100%;
}

.levels {
  margin-left: 50px;
  font-size: 12px;
  font-weight: bold;
}

.levels span {
  color: #605959;
}


.recipe-photo {
  margin: 0 100px 30px;
  display: flex;
  
}


.recipe-container .recipe-photo img {
  border-radius: 30px;
}

.recipe-container .recipe-photo .share-icons {
  margin: 100px 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.recipe-container .recipe-photo .share-icons i {
 font-size: 30px;
}

.fa-facebook-square {
  color: #1E50C6;
}

.fa-twitter-square {
  color: #36ACDA;
}

.fa-google-plus {
  color:#E23F22;
}

.fa-instagram {
  color:#AD701D;  
}

.fa-pinterest {
  color:#DF3322;  
}

.recipe-header {
  margin-left: 190px;
  display: flex;
  font-size: 14px;
  color: #605959;
}

.recipe-header ul {
  margin-left: 330px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.recipe-preparation {
  margin: 25px 90px 25px 190px;
  font-size: 15px;
  color: #605959;
}

.recipe-preparation h3 {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.recipe-preparation p {
  margin-top: 30px;
  color: #605959;
}


.recipe-preparation .quote {
  padding-left: 20px;
  border-left: 2px solid rgba(236, 107, 47, 0.61);


}

.recipe-preparation .quote span {
  color: black;
}



.recipe-preparation ul {
  margin-top: 30px;
  letter-spacing: 0.5px;
  list-style: none
  
}

.recipe-preparation ul li:before{
  content: ".";
  

}

.recipe-preparation ul li{
  list-style: disc;

}


@media only screen and (max-width: 768px) {
  .recipe-container {
    margin: 10px 10px;
  }
  
  .levels {
    margin-left: 50px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .recipe-photo {
    margin: 0 10px 10px;
    display: inline;
    
  }
  
  .recipe-container .recipe-photo img {
    width: 400px;
    height: 300px;
    border-radius: 30px;
  }
  
  .recipe-container .recipe-photo .share-icons {
    margin: 10px;
   
  }
  
  .recipe-container .recipe-photo .share-icons i {
   font-size: 30px;
  }
  
  
  .recipe-header {
    margin-left: 10px;
    font-size: 14px;
  
  }
  
  .recipe-header ul {
    margin-left: 30px;
    width: 100px;
    display: inline-flex;
    justify-content: space-between;
  }
  
  .recipe-preparation {
    margin: 15px;

  }
  
  .recipe-preparation ul {
    margin: 30px 15px;
   
    
  }
 
  
}

/* FOOTERS */

footer{
  font-size: 15px;
  color: #605959;

}

div > .social-media{
  margin: 10px 20px;
  padding: 20px;

}
span .a{
  text-decoration: none;
  color: #605959;
}

.fa-facebook-f {
  background:white;
  color: rgb(156, 147, 147);
}

.fa-twitter{
  background: white;
  color: rgb(156, 147, 147);
}

.fa-google-plus-g{
  background: white;
  color: rgb(156, 147, 147);
}
.fa-linkedin{
  background: white;
  color: rgb(156, 147, 147);
}
span  .fa-instagram{
  background:white ; 
  color:rgb(156, 147, 147);
}

.fa-youtube{
  background:white;
  color: rgb(156, 147, 147);
}

.social-media{
  border-bottom: 1px solid rgb(156, 147, 147);
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  padding: 20px;
}

i{
  margin:10px;
}


